@charset "UTF-8";
.photo{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border: 15px solid lightgray;
}
img, span {
    display:table-cell;
    vertical-align:middle;
}
.span12 {
    display:table;
}